<form [formGroup]="studentGroup" (submit)="addStundent()">

    <div>
        <label>Name</label>
        <input type="text" formControlName="sName">
    </div>
    <div>
        <label>Age</label>
        <input type="text" formControlName="sAge">
    </div>
    <div>
        <label>email</label>
        <input type="text" formControlName="sEmail">
    </div>
    <div>
        <label>Password</label>
        <input type="text" formControlName="sPassword">
    </div>
    <div>
        <label>Phone</label>
        <input type="text" formControlName="sPhone">
    </div>
    <div>
        
        <input type="submit" value="Add Student">
    </div>
</form>
